@model Book

<div class="card p-2">
    <h3 class="card-header">@Model.Title</h3>
    <span class="badge bg-info" style="float:right">  </span>
    <div class="card-body">
        <p class="card-text">Author: @Model.Author</p>
        <p class="card-text">Publisher: @Model.Publisher</p>
        <p class="card-text">ISBN: @Model.Isbn</p>
        <p class="card-text">Classification: @Model.Classification</p>
        <p class="card-text">Category: @Model.Category</p>
        <p class="card-text">Page Count: @Model.PageCount</p>
   
        <form method="post" asp-page="/Shop">

            <input type="hidden" asp-for="@Model.BookId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text">
                <button type="submit" class="btn btn-success btn-sm">Buy- $@Model.Price</button>
            </span>
        </form>
    </div>
</div>
<br />

